@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 95.7%;
    --foreground: 0 0% 12.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12.9%;

    --primary: 214 100% 33.3%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 97.6%;
    --secondary-foreground: 214 100% 33.3%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 92.2%;
    --accent-foreground: 0 0% 29.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89.4%;
    --input: 0 0% 89.4%;
    --ring: 214 100% 33.3%;

    --radius: 0.25rem;

    --sidebar-background: 200 98% 8.2%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 214 100% 33.3%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 100% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 100% 12%;
    --sidebar-ring: 214 100% 50%;

    --header-bg: 0 0% 97.6%;
    --content-bg: 0 0% 95.7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
